@import '../../styles.scss';

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:$lightBgColor;
    color: $fontColor;
    .logo{
        color: $fontColor;
        font-size: 33px;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
    }
    .social{
        display: flex;
        align-items: center;
    }
}
@media (max-width: 575.98px) {
    footer{
        .social{
            display: none;
        }
    }
}
@media (max-width: 400px){
    footer{
        .logo{
            font-size: 25px;
        }
    }
}